body {
    // background:rgb(218,224,230);
    background: black;
    overflow-x:hidden
}
.non-post{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top:10vh;
}
footer{
    height: 30vh;
}