@mixin like-unlike-but{
    background-color: transparent;
    border-color: transparent;
    outline: none;
}
@mixin like-unlike {
    cursor: pointer;
    width:20px;
}
.post-container{
 
    width:40vw;
    background-color: #303339;
    border: #303339 1px solid;
    border-radius: 5px;
    margin-top: 1vh;
    // border: .5px solid grey

}
.content-in{
    // display: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 100%;
}
.middle{
    width: 100%;
    background-color: black;
   
}
.bottom{
    width: 100%;
}
.content{
    font-size: 1.5vw;
    color: white;
    font-family: 'Saira', sans-serif;
}
.text{
    display: flex;
    justify-content: flex-start;
    width:20vw;
}
.name-div{
    margin-left:25px;
    display: flex;
    align-items: center;
    height:45px;
    width:100px;
}
.name{
    font-size: 1vw;
    color: white;
    // text-decoration: underline;
    // font-weight: lighter;
    // position: absolute;
    
    
}
.pastPostDiv{
    position: static;
}
.text-pic{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5vw;

}
.img-post{
    width:25vw;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}
.delete-but{
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-family: 'Saira', sans-serif;
}
.delete-but:hover{
    transform: translateY(2px);
    cursor: pointer;
}
.edit-but{
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-family: 'Saira', sans-serif;
}
.edit-but:hover{
    transform: translateY(2px);
    cursor: pointer;
}
.save-but{
    background-color: transparent;
    border-color: transparent;
    font-family: 'Saira', sans-serif;
    color: white;
}
.save-but:hover{
    transform: translateY(2px);
    cursor: pointer;
}
.input-edit{
    height:10vh;
    width:100vh;
    font-size: 2vw;

}
.like-icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fa-solid,
.fa-thumbs-up:hover{
    cursor: pointer;
}
.fa-thumbs-up:active{
    color: blue;
}
.fa-thumbs-down:hover{
    cursor: pointer;
}
.fa-thumbs-down:active{
    color: red;
}
.fa-comment:hover{
    cursor: pointer;
}

.like-counter{
    font-weight: 400;
    color: white;
    font-size: 15px;
}

.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2px;
    
}
.profPic{
    width:30px;
    border-radius: 50%;
}
// .bottom{
//     display: flex;
//     align-items: center;
    
// }
.comment-container{
    background: #303339;
    border-radius: 5px;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30vw;
    max-height:50vw;
    
}
.comment-btn{
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}
.comment-content{
    height: 300px;
    overflow: auto;
    color: white;
}
.comment-input{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width:900px){
    .post-container{
        width: 95vw;
        display: flex;
        justify-content: center;
    }
    .content-in{
        display: flex;
        justify-content: space-between;
        width: 70vw;
    }
    .content{
        font-size: 7vw;
        
    }
    .text{
        width: 50vw;
    }
    .name{
        font-size:2vw;
    }
    .img-post{
        width:60vw;
    }
    .name{
        font-size: 4vw;
    }
    .delete-edit-div{
        width:40px;
    }
    .name-div{
        width:60px;
        margin-left: 0;
    }
}