.userHome{
    display: flex;
    margin-top:10vh;
    height:110vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.create-post{
    position: fixed;
    bottom:5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.create-post-but{
    background-color: rgb(25, 109, 124);
    color: white;
    border-color: transparent;
    font-size: 20px;
}
.create{
    background: white;
    position: fixed;
    bottom:5vh;
    left:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 750px;
}
.create-content{
    display: flex;
    flex-direction: column;
}
.post-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.foot{
    height:500px;
    // margin-top:100vh;
    width: 100vw;
}
.create-input{
    margin-bottom:40px;
}
.add-pic-but{
    margin-top:10px;
    background-color: rgb(25, 109, 124);  
    border-color:transparent;
    color:white;
}
.add-pic-but:hover{
    transform: translateY(-2px);
    color:yellow;
}
.allThreads{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    height:50vh;
    width: 25vw;
    position: fixed;
    top:20vh;
    margin-left:30px;
    overflow: auto;
    box-shadow: 2px 2px 2px 2px rgb(146, 139, 139);
}
.allThreads-h1{
    border-bottom: solid 2px black;
    width: 380px;
    font-family: 'Saira', sans-serif;
}
.thumnail{
    width: 300px;
}
// .empty-thread{
//     color: rgb(141, 141, 151);
//     position: fixed;
// }

@media(max-width:900px){
    .allThreads{
        display: none;
    }
}