.user-name{
    height:5vh;
    width:20vw;
    border-radius: 5px;
    cursor: text;
}
.pass-word{
    height:5vh;
    width:20vw;
    border-radius: 5px;
}
.loginBut{
    cursor: pointer;
    background-color:rgb(86, 128, 168) ;
    border-color: rgb(86, 128, 168);
    color: white;
    width: 200px;
    height:50px;
    font-size: 25px;
    border-radius: 5px;
    font-family: 'Saira', sans-serif;
}