.regDiv{
    display: flex;
    justify-content: center;
}
.inputs{
    height: 85vh;
    width:50vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   background: white;
}
.username{
    height:5vh;
    width:20vw;
    border-radius: 5px;
}
.password{
    height:5vh;
    width:20vw;
    border-radius: 5px;
}
.email{
    height:5vh;
    width:20vw;;
    border-radius: 5px;
}
.signUP{
    background-color:rgb(204, 49, 70);
    border-color: rgb(204, 49, 70);
    width: 200px;
    height:50px;
    color: white;
    font-size:25px;
    border-radius: 5px;
    font-family: 'Saira', sans-serif;
}
.signUP:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.errorMessage{
    color:red;
    list-style: none;
}
@media(max-width:850px){
    .inputs{
        height: 60vh;
        width: 80vw;
    }
    .username{
        width: 40vw;
    }
    .password{
        width: 40vw;
    }
    .email{
        width: 40vw;
    }

}