
.profile{
    display: flex;
    justify-content: space-between;
    margin-top:10vh;
}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-left:2vw;
    width:45vw;
    height: 45vh;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
.pastPost-container{
    display: flex;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    overflow: scroll;   
    width:45vw;
   
}
.avatar{
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 1px;
    height:20vh;
    width: 12vw;

}
.pastPostDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pastPost{
    border-bottom: 2px solid black; 
    font-family: 'Saira', sans-serif;
    font-size: 2vw; 
    width:30vw;
}
.joined{
    position: sticky;
    font-size:2vw;   
    border-bottom: 2px solid black;
    width: 20vw;
    list-style: none;
    font-family: 'Saira', sans-serif;
    z-index: -1;
}
.joined-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width:800px){
    .joined{
        font-size: 5vw;
    }
    .pastPost{
        font-size: 5vw;
    }
    .avatar{
        width: 20vh;
        height: 20vh;
    }
}
@media(max-width:770px){
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pastPost-container{
        width: 70vw;
    }
    .profile-container{
        width: 60vw;
        height: 30vh;
    }
}