
.profile{
    display: flex;
    justify-content: space-between;
    margin-top:10vh;
}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-left:2vw;
    width:45vw;
    height: 45vh;
    box-shadow:5px 5px rgb(122, 114, 114); 
}
.pastPost-container{
    display: flex;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    overflow: scroll;   
    width:45vw;
   
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 0px;
    width: 15vw;
    height:15vh;
}
.avatarImg{
    vertical-align: middle;
    width:10vw;
    height:20vh;
    border-radius: 50%;
    
}
.pastPostDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pastPost{
    border-bottom: 2px solid black; 
    font-family: 'Saira', sans-serif;
    font-size: 2vw; 
    width:30vw;
}
.joined{
    position: sticky;
    font-size:2vw;   
    border-bottom: 2px solid black;
    width: 20vw;
    list-style: none;
    font-family: 'Saira', sans-serif;
    z-index: -1;
}
.joined-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.set-but,.pic-but{
    background-color: transparent;
    font-family: 'Saira', sans-serif;
    border-radius: 5px;
}
.usernameh1{
    font-family: 'Saira', sans-serif;  
}
.set-but:hover{
    transform: translateY(2px);
}
.pic-but:hover{
    transform: translateY(2px);
}
@media(max-width: 1300px){
    .avatarImg{
        width: 15vw;
        height: 20vh;
    }
}
@media(max-width:800px){
    .joined{
        font-size: 5vw;
    }
    .pastPost{
        font-size: 5vw;
    }
    .avatar{
        width: 3vh;
        height: 3vh;
    }
}
@media(max-width:770px){
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pastPost-container{
        width: 70vw;
    }
    .profile-container{
        width: 60vw;
        height: 30vh;
    }
    .avatarImg{
        height: 10vh;
        width:10vw;
    }
}
    @media(max-width:380px){
       .avatarImg{
           height: 5vh;
           width: 10vw;
       }
    }
  
